.ship-form-wrapper{
    display: flex;
    justify-content: center;
}

.ship-form input {
    margin-top: 20px;
    display: block;
    width: 500px;
    padding: 10px 10px;
}

.ship-form span {
    color: red;
}